body,
html {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-multiple-carousel__arrow--right {
  right: -1.2% !important;
}

.react-multiple-carousel__arrow--left {
  left: -1.2% !important;
}

.react-multiple-carousel__arrow:before {
  color: #000 !important;
}

.react-multiple-carousel__arrow:before {
  color: #000 !important;
}

.react-multiple-carousel__arrow {
  background: hsla(0, 0%, 100%, 0) !important;
}
